.about-section {
    background-color: var(--secondary-beige);
    padding: 80px 40px;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 300px;
    width: 100%;
    max-width: 1636px;
    margin: 40px auto;
    padding: 0 20px;
}

.about-content {
    flex: 1;
    max-width: 600px;
}

.about-title h1 {
    font-weight: 500;
    color: var(--primary-green);
    line-height: 0.65em;
}

.about-title h2 {
    font-weight: 400;
    color: var(--highlight-dark);
    margin: 0 0 20px 0;
    margin-top: 0.2rem;
    margin-bottom: 2.5rem;
}

.about-text p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--highlight-dark);
    margin: 0;
}

.about-images {
    flex: 1;
    position: relative;
    max-width: 700px;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.about-images img {
    position: absolute;
    width: 60%;
    height: auto;
    aspect-ratio: 4 / 5;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
}

.about-img-1 {
    top: 0;
    right: 0%;
    z-index: 1;
}

.about-img-2 {
    bottom: 0;
    left: 5%;
    z-index: 2;
}

@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .about-images {
        margin-top: 40px;
        width: 90%;
        max-width: 450px;
    }
}