footer {
    padding: 50px 20px;
    background-color: var(--primary-green);
    color: var(--highlight-white);
}

.footer-container {
    max-width: 1636px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

footer img {
    max-width: 200px;
    height: auto;
    flex-shrink: 0;
}

footer section {
    flex: 1 1 180px;
    min-width: 180px;
}

footer h4 {
    color: var(--primary-yellow);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    font-family: var(--font-body);
    color: var(--highlight-white);
    font-size: var(--type-medium);
    font-weight: 400;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: var(--highlight-white);
}

@media (max-width: 900px) {
    .footer-container {
        justify-content: flex-start;
    }
}

@media (max-width: 540px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    footer {
        text-align: center;
    }
}