footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffe0;
}

footer img, footer p {
  align-self: center;
}

footer section {
  padding: 10px 20px;
  text-align: left;
}

footer h4 {
  margin-bottom: 15px;
  height: 24px;
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer section ul {
  padding: 0 ;
  list-style: none;
}

footer section ul li {
  margin-bottom: 8px;
}