header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--highlight-white);
  width: 100%;
  flex-wrap: wrap;
  max-width: 1636px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  header {
    justify-content: center;
    text-align: center;
    padding: 15px;
  }

  nav ul {
    padding: 10px 0;
    justify-content: center;
    width: 100%;
  }
}

nav li {
  color: var(--highlight-dark);
  font-family: var(--font-body);
  font-size: var(--type-medium);
  font-weight: bold;
  text-transform: uppercase;
}
