.hero {
  display: flex;
  padding: 50px 20px;
  background-color: #e0e0e0;
}

.hero-text {
  flex: 0 1 60%;
  padding-right: 20px;
}

.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

@import './Menu.css';
@import './Testimonials.css';
@import './About.css';